<section class="<%= nomeClass %>">
    <p>
        <%= messageSend %>
    </p>
    <span id="close-message"><i class="bi bi-x-octagon"></i></span>
</section>

<!--
    classe da section
    message
-->