@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: Roboto Slab, Arial;
    text-decoration: none;
}

body {
    background-color: #2C1D3B;
    width: 100%;
    height: 100%;
    color: #ffffff;
}

header {
    background-color: #7000E0;
    padding: 3rem;
    margin: .5rem;
    text-align: center;


}

header h1 {
    padding-bottom: 3rem;
}

input {
    margin: 0;
    border: none;
    border-radius: 0;
    width: 70%;
    padding: .6rem;
    font-size: 1rem;
    outline: none;
    background-color: #2C1D3B;
    color: #fff;
}

button {
    padding: .48rem;
    width: 15%;
    background-color: #2C1D3B;
    color: #fff;
    text-align: center;
    font-size: 1.2rem;
    cursor: pointer;
    border: none;
    border-radius: 0;
    outline: none;
    transition: all .2s ease-in-out;
    flex-grow: .3;
}

button:hover {
    background-color: #322C38;
}

section#tasks {
    margin: .5rem;
}

ul {
    list-style: none;
}

ul li {
    position: relative;
    padding: .5rem;
    background-color: #241830;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    font-size: 1.3rem;
}

ul li a {
    text-decoration: none;
    color: #fff;
    padding-left: 2rem;
}

ul li span {
    color: #ccc;
    font-style: italic;
    font-size: .8rem;
    padding-left: 1rem;
}

ul li div {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

ul li:nth-child(even) {
    background-color: inherit;
}

ul li:hover {
    background-color: #3F1D61;
}

a#buttonEdit,
a#buttonDelete {
    padding: .5rem;
    text-decoration: none;
    color: #ccc;
    transition: all .3s ease-in-out;
}

a#buttonEdit:hover {
    font-size: 1.5rem;
    background-color: #7000E0;
    color: #fff;
    border-radius: 5px;
}

a#buttonDelete:hover {
    font-size: 1.5rem;
    background-color: rgba(174, 0, 0, 0.928);
    color: #fff;
    border-radius: 5px;
}

section.modal {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #00000087;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: auto;

}

div.card {
    position: relative;
    width: 40rem;
    background-color: #210F33;
    padding: 2rem 0 0 0;

}

div.card h2 {
    margin: 0;
}

div#head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1.5rem 1.5rem 2rem;
}

a#close {
    color: #fff;
    text-decoration: none;
    margin-right: 0.5rem;
    padding: 0.7rem;
    font-size: 1.5rem;
}

a#close:hover {
    font-size: 1.7rem;
    background-color: rgba(174, 0, 0, 0.928);
    border-radius: 0.2rem;
    transition: all .3s ease-in-out;
}

div.card hr {
    width: 90%;
    margin: 0 auto;
    border-color: #ccc;

}

div.card p {
    padding: 1.5rem;
    text-align: center;
    font-size: 1.4rem;
    line-height: 2rem;
}

div#btns {
    display: flex;
    align-items: center;
}

div#btns a{
    padding: .5rem;
    width: 100%;
    text-align: center;
    font-size: 1.3rem;
    background-color: inherit;
    transition: all .3s ease-in-out;


}

div#btns a#btnYes{
    color: green;
    border-top: 1px;
    border-left: 1px;
    border-right: 0;
    border-bottom: 0;
    border-style: solid;
    border-color: rgba(0, 128, 0, 0.802);
}

div#btns a#btnNot{
    color: red;
    border-top: 1px;
    border-right: 0;
    border-bottom: 0;
    border-left: 0;
    border-style: solid;
    border-color: rgba(255, 0, 0, 0.453);
    
}

div#btns a#btnYes:hover{
    width: 180%;
    font-size: 1.4rem;
    color: inherit;
    background-color: green;
    
}

div#btns a#btnNot:hover{
    width: 180%;
    font-size: 1.4rem;
    color: inherit;
    background-color: red;
    
}

.message{
    padding: .6rem 1.3rem;
    position: sticky;
    top: 0;
    z-index: 9999;
    text-align: center;
    font-size: 1.1rem;
    font-weight: bold;
    width: auto;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.message-danger{
    background-color: #E368AE;
    color: #2B0057;
}

.message-success{
    background-color: #7FC88C;
    color: #003B0B;
}

span#close-message{
    font-size: 1.5rem;
    cursor: pointer;
    padding: .4rem;
    transition: all .3s ease-in-out;
}

span#close-message:hover{
    font-size: 1.7rem;
    background-color: rgba(174, 0, 0, 0.928);
    border-radius: 0.2rem;
}

ul li.check-true{
    
    color: white;
    text-decoration: line-through;
    background-color: #0064e63e;
    
    
}

ul li a.check-true::before{
    content: "";
    position: absolute;
    border: #ffffff solid;
    top: 22px;
    left: 16px;
    height: 15px;
    width: 7px;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

ul li a.check-false::before{
    content: "";
    position: absolute;
    border: #fff solid;
    top: 22px;
    left: 16px;
    height: 14px;
    width: 14px;
    border-width: 2px;
}
form{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
#btnDelAll{
    position: relative;
    font-size: 1.2rem;
    color: white;
    background-color: red;
    padding: .48rem;
    width: 3%;
    background-color: #2C1D3B;
    transition: all .3s ease-in-out;
}

#btnDelAll:hover {
    background-color: #322C38;

}

#btnDelAll:hover::after {
    content: "Apagar tudo"; /* O conteúdo do rótulo */
    display: block;
    position: absolute;
    top: -3.3rem;
    left: -0.2rem;
    font-size: 0.9rem;
    background-color: rgba(174, 0, 0, 0.928);
    color: white;
    border-radius: 10%;
    padding: 7px;
}

#formEdit {
    padding-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 1.5rem 1.5rem 2rem;
}
#formEdit input{
    width: 72%;
}
#formEdit button{
    width: 20%;
}
#formEdit button:hover{
    background-color: green;
}